html,
body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace !important;
    background-color: #0a192f;
    /* background: fixed url("images/bg_space.jpg"); */
    /* background-size: cover; */
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}


/* main nav bar */
#nav {
    z-index: 1000;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    height: 7vh;
    font-size: 20px;
    background-color: #0a192f;
    /* padding-bottom: -10vh; */
}
.nav_mobile{
    display: none;
}

a {
    color: #64ffda;
    text-decoration: none;
    font-weight: 100;
}

/* 
a:hover {
    color: white;
} */

ul {
    list-style-type: none;
}

li {
    display: inline;
    padding-left: 3vw;
}

#logo {
    width: 90px;
    height: 60px;
}

#hero {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    height: 65vh;
    padding-top: 20%;
}

#h1_on_hero {
    color: #64ffda;
    font-weight: 100;
    font-size: 16px;
}

#h2_on_hero {
    color: #ccd6f6;
    font-weight: 900;
    font-size: 56px;
    margin-top: -10px;
    margin-left: -2px;

}

#h3_on_hero {
    color: #8892b0;
    font-weight: 500;
    font-size: 50px;
    margin-top: -40px;
    margin-left: -2px;
}

#h4_on_hero {
    color: #8892b0;
    font-weight: 400;
    font-size: 20px;
    margin-top: -30px;

}

#button_on_hero {
    color: #64ffda;
    width: 15%;
    font-weight: 100;
    font-size: 14px;
    background-color: transparent;
    border: #64ffda solid 1px;
    padding: 1em;
    visibility: hidden
}

/* 
#button_on_hero:hover {
    background-color: #64ffda;
    color: #0a192f;
} */




@keyframes typing {
    from {
        width: 0;
        border-right: .15em solid #8892b0;
    }

    to {
        width: 100%;

    }
}


#projects {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

#projects_section {
    color: #64ffda;
    height: 80vh;
    font-size: 30px;
    text-align: center;
}


#projects_section h1 {
    margin: 0px;
}

.projects {
    margin-top: 10%;
    margin-bottom: 10%;
}

.projects button {
    background-color: transparent;
    color: #64ffda;
    border: 1px solid #8892b0;
    margin-right: 1%;
    margin-left: 1%;
    padding: 20px;
    font-size: 25px;
    width: 30vw;
    cursor: pointer;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

/* .projects button:hover {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
} */

#skills_section {
    color: #64ffda;
    height: 100vh;
    font-size: 30px;
    text-align: center;
}

#skills_section h1 {
    margin: 0px;
}

#skills {
    width: 70%;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;

}

.wrap-circles {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 10%;
    font-size: 50%;
}

.circle {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0.5rem;
    border-radius: 50%;
    background: #8892b0;
    overflow: hidden;
}

@keyframes bounce {

    0%,
    100% {
        transform: translate(0px, 0px);
    }

    50% {
        transform: translate(0px, 3px);
    }
}


#about_me_container {
    height: 90vh;
    display: flex;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;

}

#about_me_text {
    width: 63%;
    text-align: left;
    padding: 3%;
    color: #64ffda;
    font-size: 30px;

}

#about_me_text p {
    color: white;
    font-size: 22px;

}

#about_me_image {
    background-image: url(images/cartoon.png);
    background-position: 70% 20%;
    background-repeat: no-repeat;
    background-size: 17vw 30vh;
    opacity: 75%;
    width: 34%;
    border-radius: 600px;
    filter: drop-shadow(4px 4px 12px #64ffda) brightness(0.3);
}

/* #about_me_image:hover {
    filter: drop-shadow(4px 4px 12px #64ffda) brightness(1);
    opacity: 85%;
} */

#experience_section {
    height: 80vh;
    padding-bottom: 5vh;
}

#experience {
    color: #64ffda;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 70%;
    margin-right: 15%;
    margin-left: 15%;
    text-align: center;
    font-size: 30px;
    /* background-color: #64ffda; */
}

#experience h1 {
    margin-top: 0px;
}

#experience div h2 {
    font-size: 24px;
    color: #ccd6f6;
}

#experience h3 {
    font-size: 19px;
    color: #ccd6f6;
}



#experience p {
    font-size: 17px;
    color: #8892b0;

}

.expand_arrow {
    margin-bottom: 0;
}

summary:nth-child(1) {
    margin-left: 10px !important;
    color: #ccd6f6;
    cursor: pointer;
}

#social_icons {
    position: fixed;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    top: 30%;
    z-index: 10000000;
    right: 1%;
    background: #8892b0;
    padding: 5px;
    border-radius: 15px;

}

#social_icons img {
    background-color: #8892b0;

}




.hidden {
    opacity: 0;
    padding-top: 5%;
    transition: all 1s cubic-bezier(0.755, 0.05, 0.855, 0.06);
}

.show {
    opacity: 1;
    /* padding-top: 0%; */
    /* transition: all 2s steps(10) */

}

/* Media screens */

@media(hover:hover) {
    #social_icons img:hover {
        filter: blur(1px);
    }

    summary:nth-child(1):hover {
        color: #8892b0;
    }

    #about_me_image:hover {
        filter: drop-shadow(4px 4px 12px #64ffda) brightness(1);
        opacity: 85%;
    }

    .projects button:hover {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
        background-color: #8892b0;
        color:#0a192f;
        transition: all 1s ;
    }

    a:hover {
        color: white;
    }

    #button_on_hero:hover {
        background-color: #64ffda;
        color: #0a192f;
    }

    .footer a:hover {
        color: white !important;
    }
}


@media (min-width: 900px) {
    #social_icons img {
        width: 40px;
        height: 40px;
    }

    .footer_social img {
        width: 32px;
        height: 32px;
    }

    .footer {
        font-size: 40% !important;

    }

    #copyright {
        font-size: 100% !important;
    }

}


@media only screen and (max-width:850px) {
    #nav {
        font-size: 18px;
    }
}

@media only screen and (max-width: 755px) {
    /* mobile nav */
    /* Style the navigation menu */
.nav_mobile {
    overflow: hidden;
    background-color: #001024;
    position: relative;
    display: block;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .nav_mobile #myLinks {
    display: none;
  }
  /* .nav_mobile  img{display: none;} */
  
  /* Style navigation menu links */
  .nav_mobile a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .nav_mobile a.icon {
    padding-top: 20px;
    background: #0a192f;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  #logo_mobile{
    display: block;
    width:50px;
    height: 40px;
    margin-top: -12px;
    margin-left:-15px
    
  }
  /* Style the active link (or home/logo) */
  .active {
    background-color: #0a192f;
    color: white;
  }

  
  /* footer 1 col */
    .footer .col {
        width: 100% !important;
        float: none !important;
    }

    #nav {
        display: none;
    }
    /* #nav_mobile{
        display: flex;
    } */

    #about_me_container {
        width: 100%;
        height: 120vh;
    }

    #projects_section {
        margin-top: 5vh;
        margin-bottom: -20vh;
    }

    .skills_section {
        height: 120vh;
    }

    #experience_section {
        height: 120vh;
    }

    .circle {
        width: 125px;
        height: 125px;
    }

    .circle img {
        width: 62px;
        height: 125px;
    }

    #logo {
        height: 100%;
        width: 60px;
    }



    #about_me_text {
        text-align: center !important;
    }

    #about_me_image {
        display: none;
    }


}

@media only screen and (max-width: 603px) {

    #h1_on_video {
        top: 50%;
        font-size: 80%;
    }

    #p_on_video {
        top: 50%;
        font-size: 80%;
    }

    #nav {
        font-size: 10px;
        height: 3%;
    }

    #hero {
        padding-bottom: 30%;
    }
}

@media only screen and (max-width: 482px) {
    #nav {
        font-size: 45%;
        height: 2.5%;
    }

    .projects button {
        font-size: 60%;
    }
}




/* Footer!!! */
.footer {
    unicode-bidi: bidi-override;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    direction: ltr;
    width: 100%;
    position: relative;
    height: auto;
    background-color: #0a192f;
    border-top: solid 2px #8892b0;
}

.footer_social {
    filter: invert(86%) sepia(102%) saturate(2397%) hue-rotate(440deg) brightness(100%) contrast(129%);
}

.footer .col {

    width: 33.33%;
    height: auto;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

    padding: 0px 50px 0px 50px;
}

.footer .col h1 {
    font-weight: 600;
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 20px;
    line-height: 17px;
    padding: 20px 0px 5px 0px;
    color: #ccd6f6;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.250em;
}

.footer .col ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

}

.footer .col ul li {
    color: #64ffda;
    font-size: 17px;
    font-family: inherit;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    cursor: auto;
}

.social ul li {
    display: inline-block;
    padding-right: 5px !important;

}

.footer a {
    color: #64ffda !important;
    font-weight: 400;


}


.clearfix {
    clear: both;
}

#copyright {
    text-align: center;
    color: #0a192f;
}

@media only screen and (min-width: 1280px) {
    .contain {
        width: 1200px;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 1139px) {
    .contain .social {
        display: block;
    }

    .social h1 {
        margin: 0px;
    }
}

/* Footer!!! */